  $main-font: 'Roboto', sans-serif;
  $secondary-font: 'Raleway', sans-serif;

  $accent-color-blue: #2196F3;

  $background-color-primary: #E5E5E5;
  $background-color-secondary: #F5F4FA;
  $background-color-navigation: #FFFFFF;
  $background-color-footer: #2F303A;
  $background-color-opacity: #FFFFFF1A;

  $font-color-primary: #757575;
  $font-color-title: #212121;
  $font-color-logo-black: #000000;
  $font-color-logo-light: #FFFFFF;
  $font-color-address-footer: #FFFFFF99;
  $font-color-address-footer-social: #FFFFFF1A;
  $font-color-address-footer-full: #FFFFFFFF;

  $border-color-primary: #EEEEEE;
  $border-color-secondary: #ECECEC;
  $border-color-third: #21212133;
  $border-color-opacity: #0000001A;
  $border-color-shadow: #00000026;

  $image-color-opacity: #2F303A66;
  $image-title-color-opacity: #2F303ACC;

  $svg-icon-color-primary: #757575;
  $svg-icon-color-secondary: #212121;
  $svg-icon-color-accent: #2196F3;

  $social-networks-color-primary: #AFB1B8;
  $social-networks-color-secondary: #FFFFFF;
  $social-networks-color-accent: #2196F3;
