.work {
  background-color: $background-color-navigation;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__image-wrapper {
  position: relative;
}

.work__title-wrapper {
  position: absolute;
  bottom: 0;
}

.work__title {
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-color-logo-light;
  background-color: $image-title-color-opacity;
  margin: 0;
}